<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.1.0-build0318" targetFramework="net4" />
  <package id="Eto.Serialization.Xaml" version="2.1.0-build0318" targetFramework="net4" />
  <package id="FluentAssertions" version="3.4.1" targetFramework="net4" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net4" />
  <package id="NUnit" version="2.6.4" targetFramework="net4" />
  <package id="Sprache" version="1.10.0.35" targetFramework="net45" />
</packages>