<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bbv.Common" version="7.1.12149.1635" targetFramework="net40" />
  <package id="bbv.Common.EventBroker" version="7.1.12149.1635" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.bbvEventBroker" version="3.0.2-unstable-9007" targetFramework="net40" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.0.8" targetFramework="net40" />
  <package id="Ninject.Extensions.Logging" version="3.0.1.0" targetFramework="net40" />
  <package id="Ninject.Extensions.Logging.nlog2" version="3.0.1.0" targetFramework="net40" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" targetFramework="net40" />
  <package id="NLog" version="2.1.0" targetFramework="net40" />
</packages>