<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.1.0-build0318" targetFramework="net4" />
  <package id="Eto.Platform.Gtk" version="2.1.0-build0318" targetFramework="net4" />
  <package id="Eto.Serialization.Xaml" version="2.1.0-build0318" targetFramework="net4" />
</packages>