<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.0.7" targetFramework="net40" />
  <package id="FluentValidation" version="5.0.0.1" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.Logging" version="3.0.1.0" targetFramework="net40" />
  <package id="NLog" version="2.1.0" targetFramework="net40" />
  <package id="Sprache" version="1.10.0.35" targetFramework="net45" />
</packages>