<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.EventBroker" version="2.0.84" targetFramework="net45" />
  <package id="Appccelerate.Fundamentals" version="1.0.29" targetFramework="net45" />
  <package id="Eto.Forms" version="2.2.0" targetFramework="net45" />
  <package id="Eto.Platform.Windows" version="2.2.0" targetFramework="net45" />
  <package id="Eto.Serialization.Xaml" version="2.2.0" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging.nlog2" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net45" />
  <package id="Portable.Xaml" version="0.7.0" targetFramework="net45" />
</packages>